

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.styled-table th, .styled-table td {
  padding: 14px;
  text-align: left;
  font-size: 1.1rem;
}

.styled-table th {
  background-color: red;
  color: white;
}

.card-header h3 {
  font-size: 1.8em;
  color: #333;
  font-weight: bold;
}

.search-btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}


.header-row {
background-color: red;
  font-weight: bold;
}
ion-col {
  text-align: center;
}
ion-segment-button {
  --indicator-color: red;
}

ion-segment-button.md {
  --color: dark;
  --color-checked: red;
  --indicator-height: 4px;
}

ion-segment-button.ios {
  --color: red;
  --color-checked: #fff;
  --border-radius: 20px;
}

.no-solped-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}
.no-solped-icon {
  font-size: 48px;
  color: white;
  margin-top: 20px;
}
.no-solped-container,
.no-solped-container p {
  font-size: 1.2rem;
}
