<ion-content>
  <form class="form-control" (submit)="preventFormSubmit($event)">

  <div class="logo-carousel">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/Logo XT Servicios.png" alt="Logo XT">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/Xtreme Hormigoenes y mortero.png" alt="Logo 2">
        </div>
        <div class="swiper-slide">
          <img src="assets/img/xtreme mining con fondo.jpg" alt="Logo 3">
        </div>
      </div>
    </div>
  </div>

    <h1 class="title">Bienvenido</h1>
    <h5 class="title">Inicia sesión</h5>

    <div class="input-field">
      <input required class="input" type="email" id="email" />
      <label class="label" for="email">Escribe tu correo electrónico</label>
    </div>

    <div class="input-field">
      <input required class="input" type="password" id="password" />
      <label class="label" for="password">Escribe tu contraseña</label>
    </div>

    <br />

    <div class="input-field">
      <input type="checkbox" id="recordarSesion" />
      <label for="recordarSesion">Recordar sesión</label>
    </div>

    <a href="#" (click)="resetPassword($event)">¿Olvidaste tu contraseña?</a>
    <button type="button" class="submit-btn" (click)="login()">Iniciar sesión</button>
        <ion-button expand="block" fill="clear" color="primary" routerLink="/registrar-usuario">
      Crear cuenta nueva
    </ion-button>
  </form>
</ion-content>
