<ion-header [translucent]="true">
  <ion-toolbar style="--background: red; color: white;">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Generador OC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Subir Cotización</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- Número OC -->
      <ion-item>
        <ion-label>Número de Cotización</ion-label>
        <ion-input [value]="nuevoIdVisual" readonly></ion-input>
      </ion-item>

      <!-- Checkbox para usar SOLPED -->
      <ion-item lines="none">
        <ion-label>¿Asociar a una SOLPED?</ion-label>
        <ion-checkbox [(ngModel)]="usarSolped" slot="end"></ion-checkbox>
      </ion-item>

      <!-- Selector de SOLPED -->
      <ng-container *ngIf="usarSolped">
        <ion-item>
          <ion-label position="floating">SOLPED asociada</ion-label>
          <ion-select [(ngModel)]="solpedSeleccionadaId" (ionChange)="onChangeSolped()" required>
            <ion-select-option *ngFor="let solpe of solpedDisponibles" [value]="solpe.id">
              #{{ solpe.numero_solpe }} - {{ solpe.nombre_solped }} ({{ solpe.tipo_solped }}) - {{ solpe.nombre_centro_costo }} - {{ solpe.usuario || 'Sin usuario' }} - {{ solpe.empresa || 'Sin empresa' }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Mostrar info de la SOLPED seleccionada -->
        <ion-item *ngIf="solpedSeleccionada">
          <ion-label>
            <strong>N° Solped:</strong><br />
            {{ solpedSeleccionada.numero_solpe }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="solpedSeleccionada">
          <ion-label>
            <strong>Centro de Costo:</strong><br />
            {{ solpedSeleccionada.numero_contrato }} - {{ solpedSeleccionada.nombre_centro_costo }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="solpedSeleccionada">
          <ion-label>
            <strong>Empresa:</strong><br />
            {{ solpedSeleccionada.empresa }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="solpedSeleccionada">
          <ion-label>
            <strong>Tipo de SOLPED:</strong><br />
            {{ solpedSeleccionada.tipo_solped }}
          </ion-label>
        </ion-item>

        <ion-item *ngIf="solpedSeleccionada">
          <ion-label>
            <strong>Nombre SOLPED:</strong><br />
            {{ solpedSeleccionada.nombre_solped }}
          </ion-label>
        </ion-item>

        <!-- Ítems de la SOLPED -->
        <ion-card *ngIf="itemsSolped.length > 0">
          <ion-card-header>
            <ion-card-title>📦 Ítems de la SOLPED</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of itemsSolped">
                <ion-label class="ion-text-wrap">
                  <h3>{{ item.descripcion }}</h3>
                  <p>
                    Cantidad Total: {{ item.cantidad }} <br>
                    Cotizado antes: {{ item.cantidad_cotizada || 0 }}
                  </p>
                  <ion-input
                    type="number"
                    placeholder="Cantidad a cotizar"
                    min="0"
                    [max]="item.cantidad - item.cantidad_cotizada"
                    [(ngModel)]="item.cantidad_para_cotizar">
                  </ion-input>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ng-container>
      <ion-item>
        <ion-label position="floating">Centro de Costo</ion-label>
        <ion-select [(ngModel)]="centroCosto" required>
                  <ion-select-option value="10-10-12">ZEMAQ</ion-select-option>
                  <ion-select-option value="20-10-01">BENÍTEZ</ion-select-option>
                  <ion-select-option value="30-10-01">CASA MATRIZ</ion-select-option>
                  <ion-select-option value="30-10-07">PREDOSIFICADO - SAN BERNARDO</ion-select-option>
                  <ion-select-option value="30-10-08">ÁRIDOS SAN JOAQUÍN</ion-select-option>
                  <ion-select-option value="30-10-42">RAÚL ALFARO</ion-select-option>
                  <ion-select-option value="30-10-43-A">DET NUEVO</ion-select-option>
                  <ion-select-option value="30-10-43-B">TALLER CANECHE</ion-select-option>
                  <ion-select-option value="30-10-43-C">DET NUEVO</ion-select-option>
                  <ion-select-option value="30-10-43-D">ESTODCADA 8</ion-select-option>
                  <ion-select-option value="30-10-44">DET PLANTA COLON</ion-select-option>
                  <ion-select-option value="30-10-45">DET PLANTA CALETONES</ion-select-option>
                  <ion-select-option value="30-10-46">DET AGUA DULCE</ion-select-option>
                  <ion-select-option value="30-10-48">DET ESMERALDA</ion-select-option>
                  <ion-select-option value="30-10-49">DET NP NNM</ion-select-option>
                  <ion-select-option value="30-10-50">DET ACH NNM</ion-select-option>
                  <ion-select-option value="30-10-52">LUIS CABRERA</ion-select-option>
                  <ion-select-option value="30-10-53">URBANO SAN BERNARDO</ion-select-option>
                  <ion-select-option value="30-10-54">URBANO OLIVAR</ion-select-option>
                  <ion-select-option value="30-10-55">DET TENIENTE</ion-select-option>
                  <ion-select-option value="30-10-57">CALAMA</ion-select-option>
                  <ion-select-option value="30-10-58">GASTÓN CASTILLO</ion-select-option>
                  <ion-select-option value="30-10-58">ALVARO VACHER</ion-select-option>
                  <ion-select-option value="30-10-59">INFRAESTRUCTURA MINERA</ion-select-option>
                  <ion-select-option value="30-10-60">CALAMA</ion-select-option>
                  <ion-select-option value="30-10-61">ALTO MAIPO</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">N° Patente/ Stock</ion-label>
        <ion-select [(ngModel)]="tipoCompra" interface="popover" required>
          <ion-select-option value="stock">Stock</ion-select-option>
          <ion-select-option value="patente">Patente</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="tipoCompra === 'patente'">
        <ion-input [(ngModel)]="destinoCompra" placeholder="Escribe la patente aquí"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Moneda</ion-label>
      <ion-select [(ngModel)]="moneda" interface="popover">
        <ion-select-option value="CLP">CLP - Peso Chileno</ion-select-option>
        <ion-select-option value="USD">USD - Dólar</ion-select-option>
        <ion-select-option value="UF">UF - Unidad de Fomento</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Precio Total con IVA</ion-label>
        <ion-input
          type="text"
          [value]="precioFormateado"
          (ionInput)="formatearPrecio($event)"
          required
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="aprobadorSugerido">
        <ion-label>
          <strong>Aprobador sugerido:</strong> {{ aprobadorSugerido }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentario</ion-label>
        <ion-textarea [(ngModel)]="comentario" placeholder="Agrega un comentario opcional..."></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Archivos PDF o Imagen (Se puede subir más PDF)</ion-label>
        <input
          id="inputArchivo"
          type="file"
          multiple
          accept="application/pdf,image/*"
          style="display: none"
          (change)="onMultipleFilesSelected($event)"
        />
        <ion-button expand="block" (click)="abrirSelectorArchivos()">Seleccionar Archivos</ion-button>

      </ion-item>

      <!-- Vista previa del archivo -->
      <ion-card *ngFor="let archivo of archivos; let i = index">
        <ion-card-header class="ion-align-items-center ion-justify-content-between">
          <ion-card-title>{{ archivo.name }}</ion-card-title>
          <ion-button
            fill="clear"
            color="danger"
            size="small"
            (click)="eliminarArchivo(i)"
            style="margin-left: auto;"
          >
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-header>

        <ion-card-content>
          <ng-container *ngIf="archivo.tipo?.includes('pdf'); else mostrarImagen">
            <iframe
              *ngIf="archivo.previewUrl"
              [src]="archivo.previewUrl"
              width="100%"
              height="400px"
              style="border: none;"
            ></iframe>
          </ng-container>

          <ng-template #mostrarImagen>
            <div style="display: flex; justify-content: center; align-items: center; padding: 10px;">
              <img
                *ngIf="archivo.previewUrl"
                [src]="archivo.previewUrl"
                alt="Vista previa"
                style="max-width: 100%; max-height: 700px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); object-fit: contain;"
              />
            </div>
          </ng-template>
        </ion-card-content>
      </ion-card>

      <!-- Botón de envío -->
      <ion-button expand="block" style="--background: red; color: white;" (click)="enviarOC()" [disabled]="enviando">
        Enviar Cotización
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
