<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-buttons color="light" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Menú de Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('generador-oc')">
      <ion-icon name="document-text-outline" class="menu-icon"></ion-icon>
      <p>Generador de Cotización</p>
      <span>Crea y registra cotizaciones</span>
    </div>
    <div class="menu-item" (click)="navigateTo('gestor-oc')">
      <ion-icon name="briefcase-outline" class="menu-icon"></ion-icon>
      <p>Gestor de Cotización</p>
      <span>Verifica y actualiza el estado de la cotización, y sube las órdenes de compra</span>
    </div>
    <div class="menu-item" (click)="navigateTo('editar-solped')">
      <ion-icon name="reader-outline" class="menu-icon"></ion-icon>
      <p>Historial de SOLPED</p>
      <span>Revisa y edita el historial de solicitudes SOLPED</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-oc')">
      <ion-icon name="time-outline" class="menu-icon"></ion-icon>
      <p>Historial de Cotización</p>
      <span>Consulta los cambios de estado y registros de las cotizaciones</span>
    </div>
  </div>
</ion-content>
