<ion-header [translucent]="true">
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Administrar SOLPED</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="mostrarFiltros = !mostrarFiltros">
        <ion-icon name="funnel-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<ion-card *ngIf="mostrarFiltros && modo === 'listado'" class="filtro-card">
  <ion-card-header>
    <ion-card-title style="font-size: 18px;" color="primary">🔍 Filtros de búsqueda</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select [(ngModel)]="filtroEstado" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Centro de Costo</ion-label>
            <ion-select [(ngModel)]="filtroCentro" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let contrato of listaContratos" [value]="contrato">{{ contrato }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Responsable</ion-label>
            <ion-select [(ngModel)]="filtroResponsable" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let usuario of responsables" [value]="usuario">
                {{ usuario }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-input type="date" [(ngModel)]="busqueda" (ionInput)="filtrarSolpeds()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="filtrarSolpeds()">Aplicar filtros</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="limpiarFiltros()">Limpiar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>



  <ion-segment [(ngModel)]="modo" (ionChange)="cambioModo()" class="ion-margin-bottom">
    <ion-segment-button value="listado">
      <ion-label>Listado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="busqueda">
      <ion-label>Búsqueda por Nº</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="modo === 'busqueda'">
    <ion-searchbar [(ngModel)]="busquedaExacta" placeholder="Buscar SOLPED exacta" (ionInput)="buscarPorNumeroExacto()"></ion-searchbar>

    <ng-container *ngIf="resultadoBusqueda; else sinResultados">
      <ion-card class="ion-margin-bottom">
        <ion-card-header>
          <ion-card-title color="primary">📄 SOLPED Nº {{ resultadoBusqueda.numero_solpe }}</ion-card-title>
          <ion-label>Estado:
            <strong [style.color]="getColorByStatus(resultadoBusqueda.estatus)">
              {{ resultadoBusqueda.estatus || 'Sin estado' }}
            </strong>
          </ion-label><br>
          <ion-label>Centro de Costo: <strong>{{ resultadoBusqueda.numero_contrato || 'No definido' }}</strong></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-justify-content-between">
            <ion-col size="6">
              <ion-button color="primary" expand="block" size="small" (click)="editarCompleto(resultadoBusqueda)">Editar</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="danger" expand="block" size="small" (click)="eliminarSolped(resultadoBusqueda)">Eliminar</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-template #sinResultados>
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon name="search-outline" size="large" color="medium"></ion-icon>
          <h3>Ingresa un número válido para buscar.</h3>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="modo === 'listado'">
    <div *ngIf="solpedFiltrados.length > 0" class="ion-text-center ion-padding">
      <ion-button (click)="irAlInicio()" size="small">Inicio</ion-button>
      <ion-button (click)="paginaAnterior()" [disabled]="paginaActual <= 1" size="small">Anterior</ion-button>
      <ion-label class="ion-padding-horizontal">Página {{ paginaActual }} de {{ totalPaginas }}</ion-label>
      <ion-button (click)="paginaSiguiente()" [disabled]="paginaActual >= totalPaginas" size="small">Siguiente</ion-button>
      <ion-button (click)="irAlFinal()" size="small">Final</ion-button>
    </div>

    <ion-list *ngIf="solpedFiltrados.length > 0; else sinOCsListado">
      <ion-card *ngFor="let solped of solpedFiltrados" [@fadeIn]>
        <ion-card-header>
          <ion-card-title color="primary">📄 SOLPED Nº {{ solped.numero_solpe }}</ion-card-title>
          <ion-label>Usuario: <strong>{{ solped.usuario }}</strong></ion-label><br>
          <ion-label>Centro de Costo: <strong>{{ solped.numero_contrato || 'No definido' }}</strong></ion-label><br>
          <ion-label>Estado:
            <strong [style.color]="getColorByStatus(solped.estatus)">
              {{ solped.estatus || 'Sin estado' }}
            </strong>
          </ion-label><br>
          <ion-label *ngIf="solped.precioTotalConIVA">
            Precio Total con IVA:
            <strong>{{ formatearCLP(solped.precioTotalConIVA) }}</strong>
          </ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-justify-content-between">
            <ion-col size="6">
              <ion-button color="primary" expand="block" size="small" (click)="editarCompleto(solped)">Editar</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="danger" expand="block" size="small" (click)="eliminarSolped(solped)">Eliminar</ion-button>
            </ion-col>
          </ion-row>

          <ion-item lines="none" *ngIf="solped.historial?.length">
            <ion-label class="ion-text-wrap">
              <strong>Historial:</strong>
              <ion-list lines="none">
                <ion-item *ngFor="let h of solped.historial">
                  <ion-label class="ion-text-wrap">
                    {{ h.fecha?.toDate() | date:'short' }} - <strong>{{ h.usuario }}</strong> cambió estado a <em>{{ h.estatus }}</em>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ng-template #sinOCsListado>
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon name="sad-outline" size="large" color="medium"></ion-icon>
          <h3>No hay SOLPEDs registradas.</h3>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-container>

  <ion-modal [isOpen]="mostrarModalEdicion" (didDismiss)="cerrarModalEdicion()">
    <ng-template>
      <ion-header>
        <ion-toolbar style="--background: red;">
          <ion-title style="color: white;">Editar SOLPED</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="solpedEditando.usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Centro de Costo</ion-label>
          <ion-input [(ngModel)]="solpedEditando.numero_contrato"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha</ion-label>
          <ion-datetime [(ngModel)]="solpedEditando.fecha" display-format="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select [(ngModel)]="solpedEditando.estatus" interface="popover">
            <ion-select-option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row class="ion-justify-content-between ion-margin-top">
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="cerrarModalEdicion()">Cerrar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="guardarCambiosEdicion()">Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
