.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 20px;
}

/* Fondo más suave y apagado para el contenido */
ion-content {
  background-color: #f0f0f0;
}

/* Estilo para las listas con bordes redondeados */
.rounded-list {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

/* Estilo de las tarjetas con fondo blanco */
ion-card {
  margin-bottom: 20px;
  border-radius: 15px; /* Fondo blanco para las tarjetas */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

ion-card-subtitle {
  color: white; /* Color de subtítulo de las tarjetas */
}

/* Estilo de los títulos de sección alineados a la izquierda */
.section-title, .sub-section-title {
  color: royalblue;
  font-weight: bold;
  text-align: left; /* Alineación a la izquierda */
  margin-top: 20px;
  padding-left: 15px; /* Añadir algo de margen izquierdo */
}

/* Estilos para el contenido de las tarjetas */
ion-card-header {
  color: white;
  padding: 10px;
}

ion-card-content {
  padding: 15px;
  font-size: 14px;
  line-height: 1.6;
  color: white; /* Color de texto dentro de las tarjetas */
}

/* Estilo para los botones */
ion-button {
  font-size: 16px;
}

/* Estilo de la tabla de precios comparados */
.insumos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.insumos-table th, .insumos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: white;
}

.insumos-table th {
  background-color: royalblue;
  font-weight: bold;
  color: white;
}

.insumos-table td {
  font-size: 14px;
}

/* Estilo para las imágenes */
ion-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Mensajes de "No hay datos" */
.message {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}
/* Destacar el precio más bajo */
.economico {
  background-color: #c8e6c9 !important; /* Fondo verde claro */
  font-weight: bold;
  color: #388E3C !important; /* Texto verde oscuro */
  border: 2px solid #2E7D32 !important; /* Borde verde oscuro */
  padding: 5px;

}


@media screen and (max-width: 600px) {
  .insumos-table th, .insumos-table td {
    padding: 6px;
    font-size: 14px;
  }
}
.archivar-btn {
  font-size: 1.2rem; /* Hace el botón más pequeño */
  position: absolute;
  top: 10px;
  right: 10px;
}
