.ion-title-custom {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.error-card {
  --background: #f8d7da;
}


.profile-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(87, 189, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  margin: 0 auto;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default-icon {
  font-size: 100px;
  color: #ccc;
}


.icon-container {
  display: flex;
  gap: 15px;
}

.icon-container ion-icon {
  font-size: 24px;
  color: rgb(87, 189, 132);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-container ion-icon:hover {
  color: rgb(87, 189, 132);
  transform: scale(1.1);
}

.upload-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-overlay.hidden {
  display: none;
}

.upload-overlay ion-icon {
  color: white;
  font-size: 24px;
}

.upload-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ion-input-custom {
  --background: #f2f2f2;
  --border-radius: 25px;
  --border-width: 0;
  --inner-border-width: 0;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.ion-input-edit-custom {
  --background: white;
}

ion-item {
  --border-radius: 25px;
  --background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}


ion-label {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  padding-left: 10px;
  border-radius: 25px;
}

ion-input {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
}

.ion-input-custom:hover,
ion-item:hover {
  background-color: #e6e6e6;
}


ion-input:focus {
  outline: none;
}

h3 {
  font-weight: 400;
  color: #333;
}

.mb-3 {
  margin-bottom: 15px;
}

.m-0 {
  margin: 0;
}

.text-start {
  text-align: left;
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 20px;
  color: white ;
}
.default-icon {
  font-size: 100px;
  color: #ccc;
  display: block;
  margin: auto;
}
