<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline" color="light" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white;">Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="main-content" [fullscreen]="true">
  <div *ngIf="errorMessage" class="ion-padding">
    <ion-card class="error-card">
      <ion-card-header class="pb-0">
        <h2 class="text-center">Error al mostrar datos</h2>
      </ion-card-header>
      <ion-card-content>
        <p style="font-weight:400;">Error: {{ errorMessage }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="ion-padding" style="border-radius:1rem;">
    <ion-grid>
      <ion-row class="ion-align-items-center justify-content-space-between mb-1">
        <ion-col>
          <h2 class="m-0 text-start" style="color: white;">Información personal</h2>
        </ion-col>
        <ion-col size="auto">
          <div class="icon-container">
            <ion-icon color="primary" class="ion-icon-custom" size="large" *ngIf="!isEditing" name="create-outline" (click)="editProfile()"></ion-icon>
            <ion-icon color="success" class="ion-icon-custom"  size="large" *ngIf="isEditing" name="checkmark-outline" (click)="saveProfile()"></ion-icon>
            <ion-icon color="danger" class="ion-icon-custom"  size="large" *ngIf="isEditing" name="close-outline" (click)="cancelEdit()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="profile-image mx-auto">
      <img *ngIf="profileImageUrl && profileImageUrl !== defaultProfileImage" [src]="profileImageUrl" alt="Imagen de perfil" />
      <ion-icon color="medium" *ngIf="!profileImageUrl || profileImageUrl === defaultProfileImage" name="person-circle-outline" class="default-icon"></ion-icon>

      <div class="upload-overlay" [class.hidden]="!isEditing">
        <ion-icon color="light" name="camera-outline"></ion-icon>
        <input type="file" accept="image/*" (change)="uploadProfileImage($event)" hidden id="fileInput" />
        <label for="fileInput" class="upload-label"></label>
      </div>
    </div>

    <br>
    <form *ngIf="user" class="mt-3">
      <div class="mb-3">
        <ion-item class="ion-input-custom ps-0" [ngClass]="{ 'ion-input-edit-custom': isEditing }">
          <ion-label [ngClass]="{ 'mb-0': isEditing }">
            <h3 style="font-weight:400">Nombre Completo</h3>
            <p *ngIf="!isEditing">{{ user.fullName }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempNombreCompleto" name="nombreCompleto" [placeholder]="user.fullName" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <div class="mb-3">
        <ion-item class="ion-input-custom">
          <ion-label>
            <h3 style="font-weight:400">Correo Electrónico</h3>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
      </div>

      <div class="mb-3">
        <ion-item class="ion-input-custom" [ngClass]="{ 'ion-input-edit-custom': isEditing }">
          <ion-label [ngClass]="{ 'mb-0': isEditing }">
            <h3 style="font-weight:400">RUT</h3>
            <p *ngIf="!isEditing">{{ user.rut }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempRut" name="rut" [placeholder]="user.rut" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>

      <div class="mb-3">
        <ion-item class="ion-input-custom" [ngClass]="{ 'ion-input-edit-custom': isEditing }">
          <ion-label [ngClass]="{ 'mb-0': isEditing }">
            <h3 style="font-weight:400">Teléfono</h3>
            <p *ngIf="!isEditing">{{ user.phone }}</p>
            <ion-input *ngIf="isEditing" [(ngModel)]="tempTelefono" name="telefono" [placeholder]="user.phone" [ngModelOptions]="{ standalone: true }"></ion-input>
          </ion-label>
        </ion-item>
      </div>
    </form>

    <ion-item>
      <ion-icon name="moon" slot="start"></ion-icon>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle slot="end" [checked]="isDarkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>
