<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-solpe" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de SOLPES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Número de SOLPE</ion-label>
          <ion-input [(ngModel)]="numeroBusqueda" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" color="primary" (click)="buscarSolpe()" class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="solpeEncontrada">
    <ion-card-header class="card-header">
      <h3>Detalle de la SOLPE</h3>
    </ion-card-header>
    <ion-card-content>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Número SOLPE</th>
            <th>Fecha</th>
            <th>Número de Contrato</th>
            <th>Usuario</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ solpeEncontrada.numero_solpe }}</td>
            <td>{{ solpeEncontrada.fecha }}</td>
            <td>{{ solpeEncontrada.numero_contrato }}</td>
            <td>{{ solpeEncontrada.usuario }}</td>
            <td>{{ solpeEncontrada.estatus }}</td>
          </tr>
        </tbody>
      </table>

      <h4>Items</h4>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Descripción</th>
            <th>Código Referencial</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of solpeEncontrada.items">
            <td>{{ item.item }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.codigo_referencial }}</td>
            <td>{{ item.cantidad }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <div *ngIf="buscado && !solpeEncontrada">
    <ion-text color="danger"><p>No se encontró la SOLPE con ese número.</p></ion-text>
  </div>
</ion-content>
