<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-solpe" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de SOLPED</ion-title>
    <ion-button slot="end" size="small" fill="clean" (click)="mostrarFiltros = !mostrarFiltros">
      <ion-icon name="filter">{{ mostrarFiltros ? 'Ocultar Filtros' : 'Mostrar Filtros' }}</ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" fill="clean" (click)="ordenarSolpes()">
      {{ ordenAscendente ? '↓' : '↑' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  >
  <ion-segment [(ngModel)]="segmentoSeleccionado" >
    <ion-segment-button value="historial" style="color: rgb(87, 189, 132);">
      <ion-label>Historial de SOLPES</ion-label>
    </ion-segment-button >
    <ion-segment-button value="buscar">
      <ion-label>Buscar por número</ion-label>
    </ion-segment-button>
  </ion-segment>
<div *ngIf="segmentoSeleccionado === 'buscar'">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Número de SOLPE</ion-label>
          <ion-input [(ngModel)]="numeroBusqueda" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button  expand="block" shape="Round" style="--background: rgb(87, 189, 132)" (click)="buscarSolpe()">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="solpeEncontrada"style="color: white;" >
    <ion-card-header >
      <ion-card-title>Detalles SOLPE #{{ solpeEncontrada.numero_solpe }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ solpeEncontrada.fecha }}</ion-card-subtitle>
      <ion-card-subtitle>Usuario: {{ solpeEncontrada.usuario }}</ion-card-subtitle>
      <ion-card-subtitle>Estatus: {{ solpeEncontrada.estatus }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngFor="let item of solpeEncontrada.items">
      <ion-card style="color: white;">
        <ion-card-header >
          <ion-card-title>Item {{ item.item }} - {{ item.descripcion }}</ion-card-title>
          <ion-card-subtitle>Cantidad: {{ item.cantidad }}</ion-card-subtitle>
          <ion-card-subtitle>Código: {{ item.codigo_referencial }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content style="color: white;">
          <ion-text color="primary"><b>Precio</b></ion-text>
          <ion-grid *ngIf="item.comparaciones?.length" style="color: white;">
            <ion-row class="header-row">
              <ion-col><b>Empresa</b></ion-col>
              <ion-col><b>Precio</b></ion-col>
            </ion-row>
            <ion-row *ngFor="let comp of item.comparaciones">
              <ion-col>{{ comp.empresa }}</ion-col>
              <ion-col>${{ comp.precio }}</ion-col>
            </ion-row>
          </ion-grid>
          <ion-text *ngIf="!item.comparaciones || item.comparaciones.length === 0" color="medium"> Sin productos</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <div *ngIf="buscado && !solpeEncontrada">
    <ion-text color="danger">
      <p>No se encontró la SOLPE con ese número.</p>
    </ion-text>
  </div>
</div>


  <div *ngIf="segmentoSeleccionado === 'historial'">

    <div *ngIf="mostrarFiltros">
      <ion-card style="color: white;">
        <ion-grid>
          <ion-row class="ion-align-items-center" >

            <ion-col size="12" size-md="3">
              <ion-item>
                <ion-label position="floating">Fecha</ion-label>
                <ion-input [(ngModel)]="filtroFecha" type="date"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3">
              <ion-item>
                <ion-label position="floating">F. Estatus</ion-label>
                <ion-input [(ngModel)]="filtroEstatus"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3">
              <ion-item>
                <ion-label position="floating">F. Responsable Correctivo</ion-label>
                <ion-input [(ngModel)]="filtroResponsable"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="3">
              <ion-item>
                <ion-label position="floating">F. Usuario</ion-label>
                <ion-input [(ngModel)]="filtroUsuario"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button style="--background: rgb(87, 189, 132)" expand="block"  (click)="filtrarSolpes()">
                Aplicar Filtros
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="danger" (click)="limpiarFiltros()">
                Limpiar Filtros
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  <ion-grid *ngFor="let solpe of solpesFiltradas">
    <ion-row class="header-row">
      <ion-col><b>N° SOLPE</b></ion-col>
      <ion-col><b>Fecha</b></ion-col>
      <ion-col><b>Numero de contrato</b></ion-col>
      <ion-col><b>Usuario</b></ion-col>
      <ion-col><b>Estatus</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ solpe.numero_solpe }}</ion-col>
      <ion-col>{{ solpe.fecha }}</ion-col>
      <ion-col>{{ solpe.numero_contrato }}</ion-col>
      <ion-col>{{ solpe.usuario }}</ion-col>
      <ion-col>{{ solpe.estatus }}</ion-col>
    </ion-row>
  </ion-grid>
  <br><br><br><br>

  <ion-text *ngIf="solpesFiltradas.length === 0" class="no-solped-container">
    <ion-icon name="cloud-offline-outline" class="no-solped-icon"></ion-icon>
  </ion-text>

  </div>
</ion-content>
