

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.styled-table th, .styled-table td {
  padding: 12px;
  text-align: left;
}

.styled-table th {
  background-color: rgb(87, 189, 132);
  color: white;
}

.card-header h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}

.search-btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}


.header-row {
background-color: rgb(87, 189, 132);
  font-weight: bold;
}
ion-col {
  text-align: center;
}
ion-segment-button {
  --indicator-color: rgb(87, 189, 132);
}

ion-segment-button.md {
  --color: #ffffff;
  --color-checked: rgb(87, 189, 132);
  --indicator-height: 4px;
}

ion-segment-button.ios {
  --color: rgb(87, 189, 132);
  --color-checked: #fff;
  --border-radius: 20px;
}
ion-label{
  color: white;
}
ion-input{
  color: white;
}
ion-card-title{
  color: white;
}
ion-card-subtitle{
  color: white;
}
.no-solped-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}
.no-solped-icon {
  font-size: 48px;
  color: white;
  margin-top: 20px;
}
