
.table-container {
  margin-top: 10px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.styled-table th, .styled-table td {
  padding: 10px;
  text-align: left;
}
ion-card-title{
  color: white;
}
ion-card-subtitle{
  color: white;
}
th{
  color: white;
}
td{
  color: white;
}
.styled-table th {
  background-color: rgb(87, 189, 132);
  color: white;
}

.styled-table td {
  word-wrap: break-word;
}

.inner-card {
  border-radius: 15px;
  padding: 10px;
}

.solpe-container {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 20px;

}

@media screen and (max-width: 600px) {
  .styled-table th, .styled-table td {
    padding: 6px 8px;
  }

  .main-card {
    margin: 0 2%;
    padding: 5px;
  }

  .solpe-container {
    padding: 10px;
    margin-bottom: 20px;
  }

  .inner-card {
    padding: 5px;
  }

  ion-button {
    font-size: 12px;
  }

  h3 {
    font-size: 1.2rem;
    margin-left: 2%;
  }
}

.no-solped-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}

.no-solped-img {
  width: 200px;
  height: auto;
  opacity: 0.6;
}
