<ion-header [translucent]="true">
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>

    <!-- BOTÓN RECARGAR (solo verifica cambios de la página actual) -->
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="recargarPaginaActual()">
        <ion-icon name="refresh-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="mostrarFiltros = !mostrarFiltros">
        <ion-icon name="funnel-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="color: white;">Administrar Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="recargarPaginaActual($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
    </ion-refresher>
  <ion-card *ngIf="mostrarFiltros && modo === 'listado'" class="filtro-card">
  <ion-card-header>
    <ion-card-title style="font-size: 18px;" color="primary">🔍 Filtros de búsqueda</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select [(ngModel)]="filtroEstatus" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Centro de Costo</ion-label>
            <ion-select [(ngModel)]="filtroCentroCosto" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let contrato of listaContratos" [value]="contrato">{{ contrato }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-select [(ngModel)]="filtroUsuario" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let usuario of usuariosDisponibles" [value]="usuario">
                {{ usuario }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input type="date" [(ngModel)]="filtroFecha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="aplicarFiltros()">Aplicar filtros</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="limpiarFiltros()">Limpiar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

  <ion-segment [(ngModel)]="modo" value="listado" class="ion-margin-bottom">
    <ion-segment-button value="listado">
      <ion-label>Listado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="busqueda">
      <ion-label>Búsqueda por ID</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="cargando">
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent" color="danger"></ion-spinner>
      <p>Cargando datos...</p>
    </div>
  </ng-container>
<ng-container *ngIf="modo === 'busqueda'">
  <ion-searchbar [(ngModel)]="busquedaExacta" placeholder="Buscar por ID exacto" (ionInput)="buscarPorId()"></ion-searchbar>

  <ng-container *ngIf="resultadoBusqueda; else sinResultados">
    <ion-card class="ion-margin-bottom">
      <ion-card-header>
        <ion-card-title class="ion-text-wrap" color="primary">📄 OC ID: {{ resultadoBusqueda.id }}</ion-card-title>
        <div style="margin-top: 6px; line-height: 1.3;">
          <ion-label class="ion-text-small">
            Estatus:
            <strong [style.color]="getColorByStatus(resultadoBusqueda.estatus)">
              {{ resultadoBusqueda.estatus || 'Sin estado' }}
            </strong>
          </ion-label><br>
          <ion-label class="ion-text-small">
            Centro de Costo: <strong>{{ resultadoBusqueda.centroCosto || 'No definido' }}</strong>
          </ion-label><br>
          <ion-label class="ion-text-small">
            Fecha:
            <strong>
              {{ resultadoBusqueda.fechaSubida?.toDate() | date: 'dd-MM-yyyy HH:mm' }}
            </strong>
          </ion-label><br>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="3">
            <ion-button color="primary" expand="block" size="small" (click)="editarEstado(resultadoBusqueda)">
              Estado
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="medium" expand="block" size="small" (click)="editarId(resultadoBusqueda)">
              ID
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="danger" expand="block" size="small" (click)="eliminarOC(resultadoBusqueda)">
              Eliminar
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button expand="block" color="warning" size="small" (click)="editarCamposAdicionales(resultadoBusqueda)">
              Editar campos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #sinResultados>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-icon name="search-outline" size="large" color="medium"></ion-icon>
        <h3>Ingresa un ID válido para buscar.</h3>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ng-container>


<ng-container *ngIf="modo === 'listado'">
  <div *ngIf="ocsFiltradas.length > 0" class="ion-text-center ion-padding">
    <ion-button (click)="irAlInicio()" size="small">Inicio</ion-button>
    <ion-button (click)="paginaAnterior()" [disabled]="paginaActual <= 1" size="small">Anterior</ion-button>
    <ion-button (click)="paginaSiguiente()" size="small">Siguiente</ion-button>
    <ion-button (click)="irAlFinal()" size="small">Final</ion-button>
  </div>

  <ion-list *ngIf="!cargando && ocsFiltradas.length > 0; else sinOCsListado">
    <ion-card *ngFor="let oc of ocsFiltradas" class="ion-margin-bottom" [@fadeIn]>
      <ion-card-header>
        <ion-card-title class="ion-text-wrap" color="primary">📄 OC ID: {{ oc.id }}</ion-card-title>
        <div style="margin-top: 6px; line-height: 1.3;">
          <ion-label class="ion-text-small">
            Estatus:
            <strong [style.color]="getColorByStatus(oc.estatus)">
              {{ oc.estatus || 'Sin estado' }}
            </strong>
          </ion-label><br>
          <ion-label class="ion-text-small">
            Centro de Costo: <strong>{{ oc.centroCosto || 'No definido' }}</strong>
          </ion-label><br>
          <ion-label class="ion-text-small">
            Fecha:
            <strong>
              {{ oc.fechaSubida?.toDate() | date: 'dd-MM-yyyy HH:mm' }}
            </strong>
          </ion-label><br>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <ion-col size="3">
            <ion-button color="primary" expand="block" size="small" (click)="editarEstado(oc)">
              Estado
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="medium" expand="block" size="small" (click)="editarId(oc)">
              ID
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="danger" expand="block" size="small" (click)="eliminarOC(oc)">
              Eliminar
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button expand="block" color="warning" size="small" (click)="editarCamposAdicionales(oc)">
              Editar campos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div *ngIf="ocsFiltradas.length > 0" class="ion-text-center ion-padding">
    <ion-button (click)="irAlInicio()" size="small">Inicio</ion-button>
    <ion-button (click)="paginaAnterior()" [disabled]="paginaActual <= 1" size="small">Anterior</ion-button>
    <ion-button (click)="paginaSiguiente()" size="small">Siguiente</ion-button>
    <ion-button (click)="irAlFinal()" size="small">Final</ion-button>
  </div>

  <ng-template #sinOCsListado>
    <ng-container *ngIf="!cargando">
      <ion-card>
        <ion-card-content class="ion-text-center">
          <ion-icon name="sad-outline" size="large" color="medium"></ion-icon>
          <h3>No hay cotizaciones registradas.</h3>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-template>
</ng-container>


</ion-content>
