<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/iniciar-sesion" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-control" (submit)="register($event)">
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 10px;">
      <img src="assets/img/Logo XT Servicios.png" alt="Logo XT" style="height: 80px; border-radius: 10px;">
    </div>

    <p class="title">Regístrate</p>

    <div class="input-field">
      <input required class="input" type="text" id="fullName" />
      <label class="label" for="fullName">Escribe tu nombre</label>
    </div>

    <div class="input-field">
      <input required class="input" type="text" id="rut"
             (input)="formatRUT($event)"
             maxlength="12" />
      <label class="label" for="rut">Escribe tu RUT</label>
    </div>

    <div class="input-field">
      <input required class="input" type="email" id="email"
             pattern="^[a-zA-Z0-9._%+-]+@xtrememining\.cl$" />
      <label class="label" for="email">Correo electrónico (solo &#64;xtrememining.cl)</label>
    </div>

    <div class="input-field">
      <div style="display: flex; align-items: center;">
        <input class="input" type="text" value="+569" disabled style="width: 60px;" />
        <input required class="input" type="tel" id="phone"
               (input)="formatPhone($event)"
               maxlength="8" pattern="^\d{8}$"
               placeholder="Ej: 48096007" style="flex: 1;" />
      </div>
    </div>

    <div class="input-field">
      <select id="role" class="input" required>
        <option value="Generador solped">Generador de SOLPED</option>
        <option value="Editor">Editor</option>
        <option value="Aprobador/Editor">Aprobador/Editor</option>
      </select>
      <label class="label" for="role">Selecciona tu perfil</label>
    </div>

    <div class="input-field">
      <input required class="input" type="password" id="password"
             maxlength="10" minlength="5"
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{5,10}$"
             placeholder="Mín. 5 - Máx. 10 caracteres" />
      <label class="label" for="password">Contraseña</label>
    </div>

    <button type="submit" class="submit-btn">Registrar</button>
  </form>
</ion-content>
