<ion-header [translucent]="true">
  <ion-toolbar style="--background: red; color: white;">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cotizaciones Aprobadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-searchbar
    [(ngModel)]="busquedaId"
    (ionInput)="buscarPorId()"
    placeholder="Buscar por ID de cotización"
    debounce="300"
  ></ion-searchbar>

  <ng-container *ngIf="ocs.length === 0; else listaAprobadas">
    <ion-card color="light">
      <ion-card-content class="ion-text-center">
        <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
        <h2>No hay Cotizaciones Aprobadas</h2>
        <p>No se han encontrado Cotizaciones con estado "Aprobado".</p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #listaAprobadas>
    <ion-card *ngFor="let oc of ocs">
      <ion-card-header>
        <ion-card-title>Cotización #{{ oc.id }}</ion-card-title>
        <ion-card-subtitle>Estado: {{ oc.estatus }}</ion-card-subtitle>
        <ion-card-subtitle>Responsable: {{ oc.responsable }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
       <p><strong>Centro de Costo:</strong> {{ oc.centroCosto }} | {{ oc.centroCostoNombre }} </p>
        <p><strong>Fecha de Subida:</strong> {{ oc.fechaSubida.toDate() | date:'medium' }}</p>
        <p><strong>Patente o Stock:</strong> {{ oc.destinoCompra }}</p>
        <p><strong>Cotización PDF:</strong> {{ oc.nombrePDF }}</p>
        <p><strong>Estado Actual:</strong> {{ oc.estatus }}</p>
        <p *ngIf="nombresArchivos[oc.docId]">
          <strong>OC PDF:</strong>
          <span>{{ nombresArchivos[oc.docId] }}</span>
          <ion-icon name="close-circle" color="danger" (click)="eliminarArchivoSeleccionado(oc)" style="cursor: pointer;"></ion-icon>
        </p>
        <ion-card *ngIf="oc.cotizacion">
          <ion-card-header>
            <ion-card-title>Cotización adjunta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe *ngIf="oc.cotizacion.tipo === 'application/pdf'" [src]="oc.cotizacion.url" width="100%" height="600px" style="border: none;"></iframe>
            <img *ngIf="oc.cotizacion.tipo.startsWith('image/')" [src]="oc.cotizacion.url" width="100%" style="max-height: 600px; object-fit: contain;" />
          </ion-card-content>
        </ion-card>


        <ion-card *ngIf="vistasPreviasPdf[oc.docId]">
          <ion-card-header>
            <ion-card-title>Vista previa del PDF seleccionado</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <iframe [src]="vistasPreviasPdf[oc.docId]" width="100%" height="400px" style="border: none;"></iframe>
          </ion-card-content>
        </ion-card>
        <ion-item>
          <ion-label>Subir OC</ion-label>
          <input type="file" accept="application/pdf" (change)="onFileSelected($event, oc)" />
        </ion-item>


        <ion-button expand="block" color="secondary" (click)="marcarComoEnviada(oc)">
          Enviada a Proveedor
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
