<ion-header >
  <ion-toolbar style="--background: red;" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-solpe" ></ion-back-button>
    </ion-buttons>
    <ion-title>Creación de SOLPED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-segment [(ngModel)]="modoSeleccionado">
      <ion-segment-button value="formulario">Formulario de SOLPED</ion-segment-button>
    </ion-segment>

    <div *ngIf="modoSeleccionado === 'formulario'" class="form-container">
      <ion-item>
        <ion-label position="floating">Número de SOLPE</ion-label>
        <ion-input [(ngModel)]="solpe.numero_solpe" type="number" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input [(ngModel)]="solpe.fecha" type="date" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Responsable Correctivo</ion-label>
        <ion-select [(ngModel)]="solpe.numero_contrato" >
          <ion-select-option value="10-10-01">10-10-01</ion-select-option>
          <ion-select-option value="10-10-02">10-10-02</ion-select-option>
          <ion-select-option value="10-10-03">10-10-03</ion-select-option>
          <ion-select-option value="10-10-04">10-10-03</ion-select-option>
          <ion-select-option value="10-10-05">10-10-05</ion-select-option>
          <ion-select-option value="10-10-06">10-10-06</ion-select-option>
          <ion-select-option value="10-10-10">10-10-10</ion-select-option>
          <ion-select-option value="10-10-12">10-10-12</ion-select-option>
          <ion-select-option value="10-10-15">10-10-15</ion-select-option>
          <ion-select-option value="20-10-01">20-10-01</ion-select-option>
          <ion-select-option value="20-10-02">20-10-02</ion-select-option>
          <ion-select-option value="20-10-03">20-10-03</ion-select-option>
          <ion-select-option value="20-10-04">20-10-04</ion-select-option>
          <ion-select-option value="20-10-05">20-10-05</ion-select-option>
          <ion-select-option value="20-10-06">20-10-06</ion-select-option>
          <ion-select-option value="30-10-01">30-10-01</ion-select-option>
          <ion-select-option value="30-10-02">30-10-02</ion-select-option>
          <ion-select-option value="30-10-03">30-10-03</ion-select-option>
          <ion-select-option value="30-10-04">30-10-04</ion-select-option>
          <ion-select-option value="30-10-05">30-10-05</ion-select-option>
          <ion-select-option value="30-10-06">30-10-06</ion-select-option>
          <ion-select-option value="30-10-07">30-10-07</ion-select-option>
          <ion-select-option value="30-10-08">30-10-08</ion-select-option>
          <ion-select-option value="30-10-10">30-10-09</ion-select-option>
          <ion-select-option value="30-10-10">30-10-10</ion-select-option>
          <ion-select-option value="30-10-11">30-10-10</ion-select-option>
          <ion-select-option value="30-10-38">30-10-38</ion-select-option>
          <ion-select-option value="30-10-41">30-10-41</ion-select-option>
          <ion-select-option value="30-10-42">30-10-42</ion-select-option>
          <ion-select-option value="30-10-43">30-10-43</ion-select-option>
          <ion-select-option value="30-10-46">30-10-46</ion-select-option>
          <ion-select-option value="30-10-47">30-10-47</ion-select-option>
          <ion-select-option value="30-10-48">30-10-48</ion-select-option>
          <ion-select-option value="30-10-49">30-10-49</ion-select-option>
          <ion-select-option value="30-10-50">30-10-50</ion-select-option>
          <ion-select-option value="30-10-52">30-10-52</ion-select-option>
          <ion-select-option value="30-10-53">30-10-53</ion-select-option>
          <ion-select-option value="30-10-54">30-10-54</ion-select-option>
          <ion-select-option value="30-10-56">30-10-56</ion-select-option>
          <ion-select-option value="30-10-57">30-10-57</ion-select-option>
          <ion-select-option value="30-10-58">30-10-58</ion-select-option>
          <ion-select-option value="30-10-59">30-10-59</ion-select-option>
          <ion-select-option value="30-10-60">30-10-60</ion-select-option>
          <ion-select-option value="30-10-61">30-10-61</ion-select-option>
          <ion-select-option value="40-10-04">40-10-04</ion-select-option>
          <ion-select-option value="40-10-11">40-10-11</ion-select-option>
          <ion-select-option value="40-10-13">40-10-13</ion-select-option>
          <ion-select-option value="40-10-16">40-10-16</ion-select-option>
          <ion-select-option value="40-10-20">40-10-20</ion-select-option>
          <ion-select-option value="40-10-21">40-10-21</ion-select-option>
          <ion-select-option value="40-10-22">40-10-22</ion-select-option>
          <ion-select-option value="40-10-24">40-10-24</ion-select-option>
          <ion-select-option value="40-10-26">40-10-26</ion-select-option>
          <ion-select-option value="40-10-30">40-10-30</ion-select-option>
          <ion-select-option value="40-10-34">40-10-34</ion-select-option>
          <ion-select-option value="40-10-38">40-10-38</ion-select-option>
          <ion-select-option value="40-10-40">40-10-40</ion-select-option>
          <ion-select-option value="40-10-41">40-10-41</ion-select-option>
          <ion-select-option value="40-10-42">40-10-42</ion-select-option>
          <ion-select-option value="40-10-43">40-10-43</ion-select-option>
          <ion-select-option value="40-10-44">40-10-44</ion-select-option>
          <ion-select-option value="40-10-45">40-10-45</ion-select-option>
          <ion-select-option value="40-10-46">40-10-46</ion-select-option>
          <ion-select-option value="40-10-47">40-10-47</ion-select-option>
          <ion-select-option value="40-10-48">40-10-48</ion-select-option>
          <ion-select-option value="40-10-49">40-10-49</ion-select-option>
          <ion-select-option value="40-10-50">40-10-50</ion-select-option>
          <ion-select-option value="40-10-51">40-10-51</ion-select-option>
          <ion-select-option value="40-10-52">40-10-52</ion-select-option>
          <ion-select-option value="40-10-53">40-10-53</ion-select-option>
          <ion-select-option value="40-10-54">40-10-54</ion-select-option>
          <ion-select-option value="40-10-55">40-10-55</ion-select-option>
          <ion-select-option value="40-10-56">40-10-56</ion-select-option>
          <ion-select-option value="40-10-57">40-10-57</ion-select-option>
          <ion-select-option value="40-10-58">40-10-58</ion-select-option>
          <ion-select-option value="40-10-59">40-10-59</ion-select-option>
          <ion-select-option value="50-10-01">50-10-01</ion-select-option>
          <ion-select-option value="50-10-02">50-10-02</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="solpe.usuario" readonly></ion-input>
      </ion-item>

      <h5>Tabla de Items</h5>

      <div class="table-container">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Descripción</th>
              <th>Código Referencial</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of solpe.items; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <ion-input [(ngModel)]="item.descripcion"
                           [readonly]="!item.editando"
                           (ionInput)="item.descripcion = item.descripcion.toUpperCase()"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input [(ngModel)]="item.codigo_referencial"
                           [readonly]="!item.editando"
                           (ionInput)="item.codigo_referencial = item.codigo_referencial.toUpperCase()"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input type="number"
                           [(ngModel)]="item.cantidad"
                           [readonly]="!item.editando"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-button fill="clear" color="primary" *ngIf="!item.editando" (click)="editarItem(i)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="success" *ngIf="item.editando" (click)="guardarItem(i)">
                  <ion-icon name="save-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" (click)="eliminarItem(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>

        <ion-buttons class="botones-flex">
          <ion-button expand="full" (click)="agregarFila()">
            <ion-icon name="add-outline"></ion-icon> Agregar Fila
          </ion-button>
          <ion-button expand="block" color="success" (click)="guardarSolpe()">
            <ion-icon name="send-outline"></ion-icon> Enviar
          </ion-button>
        </ion-buttons>
      </div>

    </div>
  </div>
</ion-content>
