<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/menu-solpe"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Creación de SOLPED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-segment [(ngModel)]="modoSeleccionado" class="custom-segment">
      <ion-segment-button value="formulario">
        <ion-label>Formulario de SOLPED</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="modoSeleccionado === 'formulario'" class="form-container">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Número de SOLPED</ion-label>
            <ion-input [(ngModel)]="solpe.numero_solpe" type="number" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-input [(ngModel)]="solpe.fecha" type="date" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Centro de Costo</ion-label>
            <ion-select [(ngModel)]="solpe.numero_contrato"  (ionChange)="actualizarCentroCosto($event)" required>
                  <ion-select-option value="10-10-12">ZAMAQ</ion-select-option>
                  <ion-select-option value="20-10-01">BENÍTEZ</ion-select-option>
                  <ion-select-option value="30-10-01">CASA MATRIZ</ion-select-option>
                  <ion-select-option value="30-10-07">30-10-07</ion-select-option>
                  <ion-select-option value="30-10-08">ÁRIDOS SAN JOAQUÍN</ion-select-option>
                  <ion-select-option value="30-10-42">RAÚL ALFARO</ion-select-option>
                  <ion-select-option value="30-10-43">DET NUEVO</ion-select-option>
                  <ion-select-option value="30-10-52">LUIS CABRERA</ion-select-option>
                  <ion-select-option value="30-10-53">URBANO SAN BERNARDO</ion-select-option>
                  <ion-select-option value="30-10-54">URBANO OLIVAR</ion-select-option>
                  <ion-select-option value="30-10-57">CALAMA</ion-select-option>
                  <ion-select-option value="30-10-58">GASTÓN CASTILLO</ion-select-option>
                  <ion-select-option value="30-10-59">30-10-59</ion-select-option>
                  <ion-select-option value="30-10-60">30-10-60</ion-select-option>
                  <ion-select-option value="30-10-61">ALTO MAIPO</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="solpe.usuario" readonly></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Tabla de ítems</ion-card-title>
        </ion-card-header>

        <ion-card-content class="table-container">
          <table class="styled-table">
            <thead style="color: white;">
              <tr>
                <th>#</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Interno</th>
                <th>Imagen</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of solpe.items; let i = index">
                <td>{{ i + 1 }}</td>
                <td><ion-input [(ngModel)]="item.descripcion" [readonly]="!item.editando" (ionInput)="item.descripcion = item.descripcion.toUpperCase()" (ionBlur)="verificarYGuardarItem(i)"></ion-input></td>
                <td><ion-input [(ngModel)]="item.codigo_referencial" [readonly]="!item.editando" (ionInput)="item.codigo_referencial = item.codigo_referencial.toUpperCase()" (ionBlur)="verificarYGuardarItem(i)"></ion-input></td>
                <td><ion-input [(ngModel)]="item.cantidad" type="number" [readonly]="!item.editando" (ionBlur)="verificarYGuardarItem(i)"></ion-input></td>
                <td><ion-input [(ngModel)]="item.stock" type="number" [readonly]="!item.editando" (ionBlur)="verificarYGuardarItem(i)"></ion-input></td>
                <td><ion-input [(ngModel)]="item.numero_interno" [readonly]="!item.editando" (ionInput)="item.numero_interno = item.numero_interno.toUpperCase()" (ionBlur)="verificarYGuardarItem(i)"></ion-input></td>
                <td>
                  <ion-icon *ngIf="!item.imagen_referencia_base64" name="image-outline" size="large" style="cursor: pointer;" (click)="seleccionarArchivo(i)"></ion-icon>
                  <input type="file" accept="image/*" #inputImagenRef style="display: none;" (change)="subirImagenReferencia($event, i)">
                  <div *ngIf="item.imagen_referencia_base64" class="image-container">
                    <img [src]="item.imagen_referencia_base64" alt="Imagen" width="200" height="200">
                    <ion-button fill="clear" color="danger" (click)="eliminarImagen(i)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </div>
                </td>
                <td>
                  <ion-button fill="clear" color="primary" *ngIf="!item.editando" (click)="editarItem(i)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" color="success" *ngIf="item.editando" (click)="guardarItem(i)">
                    <ion-icon name="save-outline"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" color="danger" (click)="eliminarItem(i)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="botones-flex">
            <ion-button expand="block" color="secondary" (click)="agregarFila()">
              <ion-icon color="light" name="add-outline"></ion-icon> Agregar fila
            </ion-button>
            <ion-button expand="block" color="success"  (click)="guardarSolpe()">
              <ion-icon color="light" name="send-outline"></ion-icon> Enviar
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
