
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}


.form-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.botones-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

.styled-table th,
.styled-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #000000;
}

.styled-table th {
  background-color: red;

}



.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.image-card {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 2000px;
  height: auto;
  min-height: 400px;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #888;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.custom-file-upload input {
  display: none;
}


.uploaded-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  image-rendering: auto;
}



ion-button {
  margin-top: 15px;
  font-size: 15px;
  padding: 10px;
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: transparent;
  border: none;
  font-size: 16px;
  width: 40px;
  height: 40px;
}

.custom-toast {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 16px;
}


ion-segment-button {
  --indicator-color: red;
}

/* Material Design styles */
ion-segment-button.md {
  --color-checked: red;
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: red;
  --color-checked: #fff;
  --border-radius: 20px;
}
