<ion-header >
  <ion-toolbar style="--background: red;" >
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/menu-solpe" ></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Creación de SOLPED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-segment [(ngModel)]="modoSeleccionado">
      <ion-segment-button value="formulario">Formulario de SOLPED</ion-segment-button>
    </ion-segment>

    <div *ngIf="modoSeleccionado === 'formulario'" class="form-container">
      <ion-item>
        <ion-label position="floating">Número de SOLPE</ion-label>
        <ion-input [(ngModel)]="solpe.numero_solpe" type="number" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-input [(ngModel)]="solpe.fecha" type="date" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Responsable Correctivo</ion-label>
        <ion-select [(ngModel)]="solpe.numero_contrato" >
          <ion-select-option value="10-10-12">ZAMAQ</ion-select-option>
          <ion-select-option value="20-10-01">BENITEZ</ion-select-option>
          <ion-select-option value="30-10-01">CASA MATRIZ</ion-select-option>
          <ion-select-option value="30-10-07">30-10-07</ion-select-option>
          <ion-select-option value="30-10-08">ARIDOS SAN JOAQUIN</ion-select-option>
          <ion-select-option value="30-10-42">RAUL ALFARO</ion-select-option>
          <ion-select-option value="30-10-43">DET NUEVO</ion-select-option>
          <ion-select-option value="30-10-52">LUIS CABRERA</ion-select-option>
          <ion-select-option value="30-10-53">URBANO SAN BERNARDO</ion-select-option>
          <ion-select-option value="30-10-54">URBANO OLIVAR</ion-select-option>
          <ion-select-option value="30-10-57">CALAMA</ion-select-option>
          <ion-select-option value="30-10-58">GASTON CASTILLO</ion-select-option>
          <ion-select-option value="30-10-59">30-10-59</ion-select-option>
          <ion-select-option value="30-10-60">30-10-60</ion-select-option>
          <ion-select-option value="30-10-61">ALTO MAIPO</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="solpe.usuario" readonly></ion-input>
      </ion-item>
      <h5>Tabla de Items</h5>
      <div class="table-container">
        <table class="styled-table">
          <thead style="color: white;">
            <tr>
              <th>Item</th>
              <th>Descripción</th>
              <th>Código Referencial</th>
              <th>Cantidad</th>
              <th>Stock</th>
              <th>Patente / N interno</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of solpe.items; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <ion-input [(ngModel)]="item.descripcion"
                           [readonly]="!item.editando"
                           (ionInput)="item.descripcion = item.descripcion.toUpperCase()"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input [(ngModel)]="item.codigo_referencial"
                           [readonly]="!item.editando"
                           (ionInput)="item.codigo_referencial = item.codigo_referencial.toUpperCase()"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input type="number"
                           [(ngModel)]="item.cantidad"
                           [readonly]="!item.editando"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input type="number"
                           [(ngModel)]="item.stock"
                           [readonly]="!item.editando"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-input [(ngModel)]="item.numero_interno"
                           [readonly]="!item.editando"
                           (ionInput)="item.numero_interno = item.numero_interno.toUpperCase()"
                           (ionBlur)="verificarYGuardarItem(i)">
                </ion-input>
              </td>
              <td>
                <ion-icon name="image-outline" size="large" style="cursor: pointer;" (click)="seleccionarArchivo(i)"></ion-icon>
                <input type="file" accept="image/*" #inputImagenRef style="display: none;" (change)="subirImagenReferencia($event, i)">
              </td>

              <td>
                <ion-button fill="clear" color="primary" *ngIf="!item.editando" (click)="editarItem(i)">
                  <ion-icon color="secondary" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="success" *ngIf="item.editando" (click)="guardarItem(i)">
                  <ion-icon color="warning" name="save-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" color="danger" (click)="eliminarItem(i)">
                  <ion-icon color="danger" name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>

        <ion-buttons class="botones-flex">
          <ion-button expand="full" (click)="agregarFila()">
            <ion-icon color="secondary" name="add-outline"></ion-icon> Agregar Fila
          </ion-button>
          <ion-button expand="block" color="success" (click)="guardarSolpe()">
            <ion-icon color="success" name="send-outline"></ion-icon> Enviar
          </ion-button>
        </ion-buttons>
      </div>

    </div>
  </div>
</ion-content>
