<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-title style="color: white;">Menú SOLPED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('solpe')">
      <ion-icon name="file-tray-stacked-outline" class="menu-icon"></ion-icon>
      <p>Generar SOLPED</p>
      <span>Crea una nueva SOLPED</span>
    </div>

    <div class="menu-item" (click)="navigateTo('historial-solpe')">
      <ion-icon name="file-tray-outline" class="menu-icon"></ion-icon>
      <p>Historial SOLPED</p>
      <span>Revisa el estado en que está la SOLPED</span>
    </div>
  </div>
</ion-content>
