
ion-content {
  --padding-start: 0;
  --padding-end: 0;
}

.main-card {
  border-radius: 25px;
  padding: 10px;
  margin: 0 5%;
}

.solpe-container {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner-card {
  border-radius: 15px;
  padding: 10px;
}


.table-container {
  margin-top: 10px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.styled-table th, .styled-table td {
  padding: 8px 10px;
  text-align: left;
}

.styled-table th {
  background-color: rgb(87, 189, 132);
  color: white;
}


@media screen and (max-width: 600px) {
  .styled-table th, .styled-table td {
    padding: 6px 8px;
  }

  .main-card {
    margin: 0 2%;
    padding: 5px;
  }

  .solpe-container {
    padding: 10px;
    margin-bottom: 20px;
  }

  .inner-card {
    padding: 5px;
  }

  ion-button {
    font-size: 12px;
  }

  h3 {
    font-size: 1.2rem;
    margin-left: 2%;
  }
}
