<ion-header [translucent]="true">
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-cotizador" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Gestor de SOLPED</ion-title>
  </ion-toolbar>
</ion-header>

<br />

<ion-content [fullscreen]="true">
  <ng-container *ngIf="loading; else contentLoaded">
    <ion-list>
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text>
      </ion-list-header>
      <ion-item *ngFor="let i of [1,2]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></h3>
          <p><ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text></p>
          <p><ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #contentLoaded>
    <ion-card class="main-card">
      <div *ngFor="let solpe of solpes; let idx = index" class="solpe-container">
          <div class="solpe-header">
            <h3>SOLPED N.º {{ solpe.numero_solpe }}</h3>
            <div class="solpe-actions">
              <ion-button fill="solid" color="secondary" size="small" (click)="descargarExcel(solpe)">
                <ion-label style="font-size: 12px;">Descargar Excel</ion-label>
              </ion-button>
              <label class="upload-label">
                <ion-button (click)="abrirInputExcel()" fill="solid" color="secondary" size="small">
                  Subir Excel
                </ion-button>
                <input #fileInputExcel type="file"
                      accept=".xlsx, .xls"
                      (change)="leerArchivoExcel($event)"
                      hidden />
              </label>
            </div>
          </div>
        <ion-card class="inner-card">
          <div class="table-container">
            <table class="styled-table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Contrato</th>
                  <th>Usuario</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ solpe.fecha }}</td>
                  <td>{{ solpe.numero_contrato }}</td>
                  <td>{{ solpe.usuario }}</td>
                  <td>{{ solpe.estatus }}</td>
                  <td>
                    <ion-button color="secondary" size="small" (click)="cambiarEstatus(solpe)">
                      Cambiar estado
                    </ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-card>

        <ion-accordion-group>
          <ion-accordion *ngFor="let item of solpe.items">
            <ion-item slot="header">
              <ion-label>
                Item {{ item.item }} - {{ item.descripcion?.toUpperCase() }}
              </ion-label>
              <ion-button fill="clear" size="small" (click)="abrirComparacionDesdeFlotante(solpe.items[0], solpe.id)">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              </ion-button>
            </ion-item>
            <div slot="content" class="ion-padding">

              <p><strong>Código:</strong> {{ item.codigo_referencial?.toUpperCase() }}</p>
              <p><strong>Cantidad:</strong> {{ item.cantidad }} | <strong>Stock:</strong> {{ item.stock }}</p>
              <p><strong>Patente/N° Interno:</strong> {{ item.numero_interno }}</p>

              <div *ngIf="item.imagen_referencia_base64" style="text-align: center;">
                <img [src]="item.imagen_referencia_base64" alt="Imagen" width="200" height="200" style="cursor: pointer;" (click)="verImagenAmpliada(item.imagen_referencia_base64)" />

              </div>

              <h5 *ngIf="item.comparaciones?.length">Comparaciones agrupadas:</h5>

              <table class="styled-table" *ngIf="item.comparaciones?.length">
                <thead>
                  <tr>
                    <th>Empresa</th>
                    <th>Cotización</th>
                    <th>Precio</th>
                    <th>Descuento</th>
                    <th>Precio con Descuento</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let empresa of getEmpresas(item)">
                    <tr class="grupo-proveedor">
                      <td colspan="4"><strong>{{ empresa }}</strong></td>
                    </tr>
                    <tr *ngFor="let comp of groupComparacionesPorEmpresa(item)[empresa]; let i = index">
                      <td></td>
                      <td>
                        <ion-select interface="popover" [(ngModel)]="comp.pdfId" placeholder="Selecciona PDF">
                          <ion-select-option *ngFor="let pdf of pdfsCargados[solpe.id]" [value]="pdf.id">
                            {{ pdf.nombre }}
                          </ion-select-option>
                        </ion-select>
                      </td>
                      <td>{{ comp.precioBase || comp.precio | currency }}</td>
                      <td>{{ comp.descuento || 0 }}%</td>
                      <td>{{ comp.precio | currency }}</td>
                      <td>
                        <ion-button size="small" color="primary" fill="clear" *ngIf="comp.pdfId" (click)="verPDFComparacion(solpe.id, comp.pdfId)">
                          <ion-icon name="eye-outline"></ion-icon>
                        </ion-button>
                        <ion-button
                          color="danger"
                          size="small"
                          fill="clear"
                          (click)="eliminarComparacionCompleta(solpe.id, item.id, comp.id)">
                          <ion-icon name="close-outline"></ion-icon>
                        </ion-button>
                        <ion-button color="warning" size="small" fill="clear" (click)="destacarComparacion(item, i)">
                          <ion-icon [name]="comp.destacado ? 'star' : 'star-outline'"></ion-icon>
                        </ion-button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
                <ion-buttons>
                  <ion-button (click)="abrirComparacion(item, solpe.id)">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
                    <ion-button color="success" size="small" (click)="subirComparaciones(solpe)">
                      <ion-icon name="send-outline"></ion-icon>
                    </ion-button>
              </ion-buttons>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <div class="ion-padding-start">
          <ion-button fill="solid" color="secondary" size="small" (click)="abrirInputArchivos(solpe.id)">
            <ion-label style="font-size: 12px;">Subir PDF</ion-label>
          </ion-button>
        </div>

        <input
          type="file"
          #fileInputPDF
          (change)="subirPDFsGlobal($event, solpe.id)"
          accept="application/pdf"
          multiple
          hidden
        />

        <div *ngIf="pdfsCargados[solpe.id]?.length">
          <ion-chip *ngFor="let pdf of pdfsCargados[solpe.id]">
            <ion-label>{{ pdf.nombre }}</ion-label>
            <ion-icon name="close-circle" color="danger" (click)="eliminarPDF(solpe.id, pdf.id, pdf.nombre)"></ion-icon>
          </ion-chip>
        </div>

      </div>
    </ion-card>
    <ion-modal [isOpen]="imagenAmpliadaVisible" (didDismiss)="cerrarImagenAmpliada()">
      <ng-template>
        <ion-content class="ion-padding" (click)="cerrarImagenAmpliada()" scrollY="false">
          <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <img [src]="imagenSeleccionada" style="max-width: 100%; max-height: 100%;" />
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ng-template>
</ion-content>
<ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModalComparacion()">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar style="--background: #d32f2f;">
        <ion-title style="color: white;">Agregar Comparación</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="cerrarModalComparacion()">
            <ion-icon name="close-outline" slot="icon-only" style="color: white;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" style="--background: #fff;">
      <div class="form-section">

        <ion-item lines="inset">
          <ion-icon name="business-outline" slot="start" color="danger"></ion-icon>
          <ion-label position="floating">Empresa</ion-label>
          <ion-input
            [(ngModel)]="comparacionForm.empresa"
            list="listaEmpresas"
            required>
          </ion-input>
          <datalist id="listaEmpresas">
            <option *ngFor="let empresa of getEmpresasSugeridas()" [value]="empresa"></option>
          </datalist>
        </ion-item>

        <ion-item lines="inset">
          <ion-icon name="pricetag-outline" slot="start" color="danger"></ion-icon>
          <ion-label position="floating">Precio Base</ion-label>
          <ion-input type="number" [(ngModel)]="comparacionForm.precioBase" required></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-icon name="cash-outline" slot="start" color="danger"></ion-icon>
          <ion-label position="floating">Descuento (%)</ion-label>
          <ion-input type="number" [(ngModel)]="comparacionForm.descuento"></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-icon name="document-outline" slot="start" color="danger"></ion-icon>
          <ion-label>PDF Cotización</ion-label>
          <ion-select placeholder="Selecciona PDF" [(ngModel)]="comparacionForm.pdfId">
            <ion-select-option
              *ngFor="let pdf of pdfsCargados[solpeIdSeleccionado]"
              [value]="pdf.id">
              {{ pdf.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="boton-guardar">
        <ion-button expand="block" color="danger"  (click)="guardarComparacionDesdeModal()" style="--border-radius: 10px;">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Guardar Comparación
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


