ion-segment-button {
  --indicator-color: red;
}

ion-segment-button.md {
  --color: dark;
  --color-checked: red;
  --indicator-height: 4px;
}

ion-segment-button.ios {
  --color: red;
  --color-checked: #fff;
  --border-radius: 20px;
}
