<ion-header [translucent]="true">
  <ion-toolbar style="--background: red; color: white;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Cotizaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="mostrarFiltros = !mostrarFiltros">
        <ion-icon name="funnel-outline" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<ion-card *ngIf="modo === 'listado' && mostrarFiltros"class="ion-padding">
  <ion-card-header>
    <ion-card-title style="font-size: 18px;" color="primary">🔍 Filtros de búsqueda</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <!-- Estado -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Estado</ion-label>
            <ion-select [(ngModel)]="filtroEstado" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Centro de costo / Contrato -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Centro de Costo</ion-label>
            <ion-select [(ngModel)]="filtroCentro" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let contrato of listaContratos" [value]="contrato">{{ contrato }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Responsable -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Responsable</ion-label>
            <ion-select [(ngModel)]="filtroResponsable" placeholder="Todos" interface="popover">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option *ngFor="let usuario of responsables" [value]="usuario">{{ usuario }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- Fecha -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-input type="date" [(ngModel)]="filtroFecha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Buscar por Comentario</ion-label>
          <ion-input
            [(ngModel)]="filtroComentario"
            placeholder="Texto o palabra clave..."
            debounce="300"
            (ionInput)="aplicarFiltros()">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="aplicarFiltros()">Aplicar filtros</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="limpiarFiltros()">Limpiar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>


  <ion-segment [(ngModel)]="modo" (ionChange)="cambioModo()" value="listado" class="ion-margin-bottom">
    <ion-segment-button value="listado">
      <ion-label>Listado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="busqueda">
      <ion-label>Búsqueda por N° de Cotización</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="modo === 'busqueda'">
    <ion-toolbar>
      <ion-searchbar
        [(ngModel)]="busquedaId"
        (ionInput)="buscarPorId()"
        placeholder="Buscar por ID de cotización"
        debounce="300">
      </ion-searchbar>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="loadingInicial && modo === 'listado'">
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent" color="danger"></ion-spinner>
      <p>Cargando cotizaciones...</p>
    </div>
  </ng-container>


  <ng-container *ngIf="!loadingInicial && modo === 'listado'">
    <div class="ion-text-center ion-padding">
      <ion-button size="small" (click)="irAlInicio()">Inicio</ion-button>
      <ion-button size="small" (click)="paginaAnterior()" [disabled]="paginaActual <= 1">Anterior</ion-button>
      <ion-label class="ion-padding-horizontal">Página {{ paginaActual }} de {{ totalPaginas }}</ion-label>
      <ion-button size="small" (click)="paginaSiguiente()">Siguiente</ion-button>
      <ion-button size="small" (click)="irAlFinal()">Final</ion-button>
      <ion-button expand="small" color="dark" (click)="cargarTodasLasCotizaciones()">
        Cargar todas
      </ion-button>
    </div>

    <ng-container *ngIf="ocs.length > 0; else sinResultados">
      <ion-card *ngFor="let oc of ocs; trackBy: trackById" [@fadeIn]>
        <ion-card-header>
          <ion-card-title color="primary">Cotización #{{ oc.id }}</ion-card-title>
          <ion-card-subtitle>Centro de Costo: {{ oc.centroCosto }}</ion-card-subtitle>
          <ion-card-subtitle>Responsable: {{ oc.responsable }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngTemplateOutlet="contenidoCard; context: { oc: oc }"></ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>
        <div class="ion-text-center ion-padding">
      <ion-button size="small" (click)="irAlInicio()">Inicio</ion-button>
      <ion-button size="small" (click)="paginaAnterior()" [disabled]="paginaActual <= 1">Anterior</ion-button>
      <ion-label class="ion-padding-horizontal">Página {{ paginaActual }} de {{ totalPaginas }}</ion-label>
      <ion-button size="small" (click)="paginaSiguiente()">Siguiente</ion-button>
      <ion-button size="small" (click)="irAlFinal()">Final</ion-button>
    </div>
  </ng-container>

<ng-container *ngIf="!loadingInicial && modo === 'busqueda'">
  <ng-container *ngIf="ocs.length > 0; else sinResultados">
    <ion-card *ngFor="let oc of ocs; trackBy: trackById" [@fadeIn]>
        <ion-card-header>
          <ion-card-title color="primary">Cotización #{{ oc.id }}</ion-card-title>
          <ion-card-subtitle>Centro de Costo: {{ oc.centroCosto }}</ion-card-subtitle>
          <ion-card-subtitle>Responsable: {{ oc.responsable }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngTemplateOutlet="contenidoCard; context: { oc: oc }"></ng-container>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-template #contenidoCard let-oc="oc">
    <p><strong>Centro de Costo:</strong> {{ oc.centroCosto }} | {{ oc.centroCostoNombre }}</p>
    <p><strong>Fecha de Subida:</strong> {{ oc.fechaSubida | date:'medium' }}</p>
    <p><strong>Patente o Stock:</strong> {{ oc.destinoCompra }}</p>
    <p *ngIf="oc.comentario"><strong>Comentario del solicitante:</strong> 📝 {{ oc.comentario }}</p>
    <p>
      <strong>Estado Actual:</strong> {{ oc.estatus }}
      <span *ngIf="oc.estatus === 'Rechazado'" style="background-color: #F8FF00; padding: 4px; border-radius: 4px;">
        📝 {{ oc.historial?.[oc.historial.length - 1]?.comentario }}
      </span>
    </p>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- 🟢 Archivos en base64 -->
          <div *ngIf="oc.archivosBase64?.length" class="ion-margin-top">
            <h4>Archivos</h4>
            <div *ngFor="let archivo of oc.archivosBase64">
              <p>
                <strong>Archivo:</strong> {{ archivo.nombre }}
                <ion-button fill="outline" expand="block" (click)="mostrarArchivoDesdeArray(archivo)">
                  {{ archivo.mostrar ? 'Ocultar' : 'Ver archivo' }}
                </ion-button>
              </p>

              <div *ngIf="archivo.mostrar" class="ion-padding">
                <iframe *ngIf="archivo.esPDF"
                        [src]="archivo.url"
                        width="100%" height="700px"
                        style="border: 1px solid #ccc; border-radius: 10px;"></iframe>
                <img *ngIf="archivo.tipo.startsWith('image/')"
                    [src]="archivo.url"
                    style="width: 100%; max-height: 700px; object-fit: contain; border: 1px solid #ccc; border-radius: 10px;" />
              </div>
            </div>
          </div>

          <div *ngIf="oc.archivosVisuales?.length > 0" class="ion-margin-top">
            <h4>Archivos</h4>

            <div *ngFor="let archivo of oc.archivosVisuales" class="ion-margin-bottom">
              <p><strong>{{ archivo.nombre }}</strong></p>
              <ion-button fill="outline" (click)="mostrarArchivo(archivo)">
                {{ archivo.mostrar ? 'Ocultar' : 'Ver archivo' }}
              </ion-button>


<div *ngIf="archivo.mostrar" class="ion-padding">
  <iframe *ngIf="archivo.esPDF"
          [src]="archivo.url"
          width="100%" height="700px"
          style="border: 1px solid #ccc; border-radius: 10px;"></iframe>

  <img *ngIf="archivo.esImagen"
       [src]="archivo.url"
       style="width: 100%; max-height: 700px; object-fit: contain; border: 1px solid #ccc; border-radius: 10px;" />
</div>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-container *ngIf="oc.estatus === 'Rechazado'">
      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Comentario antes de subir nueva cotización</ion-label>
        <ion-textarea [(ngModel)]="oc.comentarioNuevo" placeholder="Escribe el motivo o explicación aquí..."></ion-textarea>
      </ion-item>

      <ion-button expand="block" color="primary" class="ion-margin-top" (click)="subirNuevaCotizacion(oc)">
        Subir nueva cotización
      </ion-button>
    </ng-container>

    <ion-accordion-group class="ion-margin-top">
      <ion-accordion>
        <ion-item slot="header" color="light">
          <ion-label><strong>Ver historial de cambios</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list *ngIf="oc.historial?.length">
            <ion-item *ngFor="let h of oc.historial">
              <ion-label>
                <h3>{{ h.usuario }} → <strong>{{ h.estatus }}</strong></h3>
                <p>{{ h.fecha | date:'short' }}</p>
                <p *ngIf="h.comentario">📝 {{ h.comentario }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <p *ngIf="!oc.historial?.length">Sin historial disponible.</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-template>

  <ng-template #sinResultados>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-icon name="information-circle-outline" size="large" color="medium"></ion-icon>
        <h2>No hay cotizaciones registradas</h2>
        <p>Aún no se ha subido ninguna cotización al sistema.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
