<ion-header>
  <ion-toolbar style="--background: red;">
    <ion-buttons color="light" slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Menú de Cotización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('generador-ordenes')">
      <ion-icon name="document-text-outline" class="menu-icon"></ion-icon>
      <p>Generador de Cotización</p>
      <span>Crea y registra cotizaciones</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-ordenes')">
      <ion-icon name="time-outline" class="menu-icon"></ion-icon>
      <p>Historial de Cotización</p>
      <span>Consulta los cambios de estado y registros de las cotizaciones</span>
    </div>
  </div>
</ion-content>
