<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Visualización de Cotizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="pendientes-cotizaciones">
      Cotizaciones Pendientes
    </ion-segment-button>
    <ion-segment-button value="pendientes-imagenes">
      Imágenes Pendientes
    </ion-segment-button>
  </ion-segment>

  <!-- Cotizaciones Pendientes -->
  <ion-grid *ngIf="segment === 'pendientes-cotizaciones'" class="cotizacion-grid">
    <ion-row *ngFor="let cotizacion of cotizacionesPendientes" class="cotizacion-row">
      <ion-col size="12">
        <ion-card class="cotizacion-card">
          <ion-card-header>
            <ion-card-title>Nombre de la cotizacion: {{ cotizacion.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Cotización:</strong> {{ cotizacion.codigo }}</p>
            <p><strong>Solicitante:</strong> {{ cotizacion.solicitante }}</p>
            <p><strong>Obra:</strong> {{ cotizacion.obra }}</p>
            <p><strong>Prioridad:</strong> <span class="prioridad {{ cotizacion.prioridad | lowercase }}">{{ cotizacion.prioridad }}</span></p>
            <p><strong>Estado:</strong> {{ cotizacion.estado }}</p>
            <p><strong>Número Correlativo:</strong> {{ cotizacion.numero_correlativo }}</p>
            <p><strong>Nombre del Local:</strong> {{ cotizacion.nombre_local }}</p>
            <p><strong>Fecha:</strong> {{ cotizacion.fecha | date }}</p>
            <p><strong>Nº Contrato:</strong> {{ cotizacion.numero_contrato }}</p>

            <!-- Tabla de Insumos -->
            <table *ngIf="cotizacion.insumos?.length > 0" class="insumos-table">
              <thead>
                <tr>
                  <th>Insumo</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let insumo of cotizacion.insumos">
                  <td>{{ insumo.nombre || 'No disponible' }}</td>
                  <td>{{ insumo.cantidad || 'No disponible' }}</td>
                  <td>{{ insumo.precio | currency:'USD' }}</td> <!-- Asegúrate de usar el pipe adecuado -->
                </tr>
              </tbody>
            </table>
            <p *ngIf="cotizacion.insumos?.length === 0">No hay insumos disponibles para esta cotización.</p>

          </ion-card-content>

          <ion-card-footer class="ion-text-center footer-buttons">
            <ion-button color="success" (click)="aceptarCotizacion(cotizacion.id)">Aceptar</ion-button>
            <ion-button color="danger" (click)="rechazarCotizacion(cotizacion.id)">Rechazar</ion-button>
          </ion-card-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Imágenes Pendientes -->
  <ion-grid *ngIf="segment === 'pendientes-imagenes'" class="imagenes-grid">
    <ion-row *ngFor="let imagen of imagenesPendientes" class="imagenes-row">
      <ion-col size="12">
        <ion-card class="imagen-card">
          <ion-card-header>
            <ion-card-title>Nombre: {{ imagen.nombre }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Fecha de Carga:</strong> {{ imagen.fecha | date }}</p>
            <div class="imagen-container">
              <img [src]="imagen.imagenUrl" alt="Imagen Pendiente" />
            </div>
          </ion-card-content>

          <ion-card-footer class="ion-text-center footer-buttons">
            <ion-button color="success" (click)="aceptarImagen(imagen.id)">Aceptar</ion-button>
            <ion-button color="danger" (click)="rechazarImagen(imagen.id)">Rechazar</ion-button>
          </ion-card-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button fill="clear" (click)="openChat(usuario)" class="chat-icon" *ngIf="usuario">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
</ion-content>
