<ion-header color="medium">
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('visualizacion-solped')">
      <ion-icon name="eye-outline" class="menu-icon"></ion-icon>
      <div class="icon-wrapper">
        <ion-badge *ngIf="preAprobadasCount > 0" class="contador-preaprobado">
          {{ preAprobadasCount }}
        </ion-badge>
      </div>
      <p>Aprobación de solped</p>
      <span>Podrás aprobar o rechazar solped</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-solpe')">
      <ion-icon name="file-tray-outline" class="menu-icon"></ion-icon>
      <p>Historial solped</p>
      <span>Revisa el estado en que esta la solped</span>
    </div>
    <div class="menu-item" (click)="navigateTo('editar-solpeds')">
      <ion-icon name="create-outline" class="menu-icon"></ion-icon>
      <p>Editar solped</p>
      <span>Podras editar las solped</span>
    </div>
    <div class="menu-item" (click)="navigateTo('validar-oc')">
      <ion-icon name="checkmark-done-outline" class="menu-icon"></ion-icon>
      <p>Aprobador de Cotización</p>
      <span>Revisa y valida las cotizaciones</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-oc')">
      <ion-icon name="time-outline" class="menu-icon"></ion-icon>
      <p>Historial de Cotización</p>
      <span>Consulta los cambios de estado y registros de las cotizaciones</span>
    </div>
  </div>
</ion-content>
