<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón que abre el menú -->
    </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('visualizacion-solped')">
      <ion-icon name="eye-outline" class="menu-icon"></ion-icon>
      <p>Aprobacion de solped</p>
      <span>Podrás aprobar o rechazar solped</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-solpe')">
      <ion-icon name="file-tray-outline" class="menu-icon"></ion-icon>
      <p>Historial solpe</p>
      <span>Revisa el estado en que esta la solped</span>
    </div>
  </div>

  <ion-button fill="clear" (click)="openChat(usuario)" class="chat-icon" *ngIf="usuario">
    <ion-icon name="chatbubbles-outline"></ion-icon>
  </ion-button>
</ion-content>
