<ion-header color="medium">
  <ion-toolbar style="--background: red;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="menu-grid">
    <div class="menu-item" (click)="navigateTo('visualizacion-solped')">
      <ion-icon name="eye-outline" class="menu-icon"></ion-icon>
      <p>Aprobacion de solped</p>
      <span>Podrás aprobar o rechazar solped</span>
    </div>
    <div class="menu-item" (click)="navigateTo('historial-solpe')">
      <ion-icon name="file-tray-outline" class="menu-icon"></ion-icon>
      <p>Historial solped</p>
      <span>Revisa el estado en que esta la solped</span>
    </div>
  </div>
</ion-content>
